@-moz-document domain("4chan.org") {
  
  /* 4ch CSS */
  
  /* Hide some useless things */
  input[type="checkbox"], .fa-minus-square-o, #bannerCnt, .qr-link-container, hr, #absbot {
    display: none !important;
  }
  
  /* Body Color*/
  body {
    background: #fff url("https://a.pomf.cat/bhdzqo.jpg") !important;
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    color: #fff !important;
    text-shadow: 1px 1px 1px #000 !important;
  }
  body a {
    color: #d81860 !important;
  }
  
  /* Top board items */
  #blotter, #togglePostFormLink{
    margin-top: 10px !important;
  }
  
  #blotter > tfoot:nth-child(3) > tr:nth-child(1) > td:nth-child(1) {
    text-align: center !important;
    padding-top: 5px !important;
  }
  
  /* Nav links */
  
  .navLinks {
    margin-left: 230px !important;
  }
  
  /* Catalog Fix */
  .catalog-small {
    margin-top: 22px !important;
  }
  
  /* Center thread out */
  .thread {
    background: #121212 !important;
    width: 1100px !important;
    margin: 30px auto !important;
    margin-top: 30px !important;
  }
  
  /* OP (this doesnt look very good atm) */
  
  .op {
    background: #1c1c1c !important;
    padding: 20px !important;
    margin: 0 5px 0 -15px !important;
  }
  .op .fileThumb {
    float: right !important;
    margin: 20px 0 !important;
  }
  .boardTitle {
    color: #fff !important;
    text-shadow: 1px 1px 1px #000 !important;
  }
  
  /* Name and trip colors */
  .name, .postertrip {
    color: #EE4B9F !important;
    font-weight: 400 !important;
  }
  
  /* Subject color */
  .subject {
    color: #8D2C2C !important;
  }
  
  /* Reply rice */
  .reply {
    margin-left: -7px !important;
    padding: 8px !important;
    color: #fff !important;
    background: #1c1c1c !important;
    border: none !important;
    box-shadow: 1px 2px 2px #000 !important;
    width: 99% !important;
    
  }
  .postNum a{
    color: #fff !important;
  }
  .backlink, .quotelink {
    color: #d81860 !important;
    text-decoration: none !important;
  }
  
  .backlink {
    margin-left: 5px !important;
  }
  
  /* Gap between posts */
  .postContainer {
    margin: 12px 0 !important;
  }
  
  /* File info rice */
  .fileText {
   opacity: 0 !important;
   margin-bottom: -16px !important;
   transition: opacity 0.2s, margin-bottom 0.2s;
  }
  
  .fileText a {
    color: #fff !important;
    text-decoration: none !important;
  }
  .fileText .sauce {
    color: #BF64BD !important;
  }
  .post:hover .fileText {
   opacity: 1 !important;
   margin-bottom: 1px !important;
  }
  
  /* Align menu to right and autohide */
  .menu-button {
    float: right !important;
    color: #fff !important;
    opacity: 0 !important;
    transition: opacity 0.2s !important;
  }
  .replyContainer:hover .menu-button {
    opacity: 1 !important;
  }
  
  /* Fix QR */
  #qr {
    color: #fff !important;
    background: #373737 !important;
    border: none !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    padding: 2px !important;
  } 
  input {
    color: #000 !important;
    font-size: 11px !important;
  }
  .move {
    padding: 3px !important;
  }
  .close {
    color: #d81860 !important;
  }
  
  /* Set some background colors */
  .dialog:not(#thread-watcher):not(#qr) {
    background: #1C1C1C !important;
    color: #fff !important;
  }
  

  

  
}