@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Variables */

:root {
   
  --font: Open Sans; 
  --font-size: 11px;
    
  --bg: #121212;
}

/* Browser */
@-moz-document url(chrome://browser/content/browser.xul) {
  
  /* Hide stuff */
  
  .tab-background-start, .tab-background-end, #PanelUI-button,/* #back-button, #forward-button, #urlbar-reload-button, */ .tab-close-button.close-icon, .tab-icon-image, .autocomplete-history-dropmarker.urlbar-history-dropmarker,.tabs-newtab-button, .tab-icon-overlay{
    display: none !important;
  }
  
  /* Tabs */
  
  #TabsToolbar {
    -moz-box-ordinal-group:10000!important
  }
  
  .arrowscrollbox-scrollbox {
    background: var(--bg) !important;
  }
  
  tab {
    font-family: var(--font) !important; 
    font-size: var(--font-size) !important;
    height: 22px !important;
    font-weight: 600 !important;
    border: none !important;
  }
  
  .tabbrowser-tab *, .tabs-newtab-button * {
    background: none !important; list-style-image: none !important;
    margin: 0 0 0 0 !important;
    padding-left: 1px !important;
    -moz-appearance: none !important;
    border: none !important;
 }
  
  .tabbrowser-tab[selected] {
    background: var(--bg) !important;
    color: #fff !important;
    text-align: center !important;

    border-bottom: solid 3px #d81860 !important;
  }
  
  .tabbrowser-tab:not([selected]) {
    background: var(--bg) !important;
    text-align: center !important;
    color: #fff !important;

  }
  
  #TabsToolbar, #tabbrowser-tabs {
    margin-left: -8px !important;
    margin-top: -1px !important;
 }
  
 .tabbrowser-tab::before, .tabbrowser-tab::after { 
   
   background: none !important;
   opacity: 1 !important;
   visibility: visible !important; 
 }
  


  /* Navbar stuff */
  
  .scrollbox-innerbox {
    background: var(--bg) !important;;
  }
  
  #back-button > .toolbarbutton-icon {
    background: #1c1c1c !important;
    border-radius: 0 !important;
    max-height: 24px !important;
    margin-left: 0px !important;
    transition: margin-left 0.2s !important;
  }
  
  #forward-button > .toolbarbutton-icon {
    background-color: #1c1c1c !important;
  
  }
  
  #nav-bar-customization-target{
    height: 50px !important;
    background: var(--bg) !important;
    border: none none #fff !important;
    margin-top: -2px !important;
    margin-bottom: 0px !important;
    padding-top: 7px !important;
  }
  
  /*#nav-bar {
    box-shadow: 0px 3px 10px #212121 !important;
  }*/
  
  #urlbar {
    margin-left: 11px !important;
    margin-right: 6px !important;
    background: #fff !important;
    transition: background 0.2s;
    color: #000 !important;
  }
  
  .searchbar-textbox{
    background: #fff !important;
    color: #000 !important;
    margin-right: 7px !important;
    transition: background 0.2s;

  }
  
  .searchbar-textbox:hover, #urlbar:hover{
    background: #fff !important;
  }
  
  
  ::-moz-placeholder {
    opacity: 0 !important;
    
  }
  
  
  
}