@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


:root {
  
  --font: Terminus; --font-size: 9px;
  
}
    
@-moz-document url(chrome://browser/content/browser.xul) {
  
  #searchbar, #PanelUI-menu-button, .tabs-newtab-button, .tab-icon-image, .tab-close-button, .tab-throbber, #search-container, .autocomplete-history-dropmarker.urlbar-history-dropmarker, #back-button{
    display: none !important;
  }
  
  .tabbrowser-tab[selected], #identity-box {
    text-align: center !important;
    background: #1c1c1c !important;
    color: #B7416e !important;
  }
  
  .tabbrowser-tab {
    border-top: solid #B7416e 1px !important;
    text-align: center !important;
  }
  
  .scrollbox-innerbox {
    background: #1c1c1c !important;
    margin-top: -5px !important;
    
  }
  
  .tabbrowser-tab:hover {
    background: none !important;
  }
  
  #page-proxy-favicon {
    color: #B7416e !important;
  }
  
  #nav-bar-customization-target, #nav-bar {
    background: #1c1c1c !important;
    width: 100% !important;
    height: 25px !important;
    border-top: 1px solid #B7416e !important;
  }
  
  .textbox-input-box.urlbar-input-box, #urlbar-go-button, #urlbar-reload-button, #urlbar-stop-button{
    background: #1c1c1c !important;
   
    
  }
}
    
    
  