body {

	font-family: sans-serif;
}

.searchContainer, .navContainer {
	
	position: relative;
	text-align: center;
	top: 40px;
}

#searchInput {

	border: solid 2px #daa8ea;
	width: 40%;
	height: 35px;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
}

a {
	display: inline-block;
	margin: 25px;
	vertical-align: middle;
	height: 90px; width: 90px;
	line-height: 90px;

	padding: 10px;

	color: #404040;
	font-size: 18px;
	text-decoration: none;
	background: none;

	transition: font-size 0.2s, color 0.2s, background 0.2s;

}

a:hover {

	background: #daa8ea;
	color: #fff;
	font-size: 22px;
}