! Xresources file

URxvt*scrollBar: false

URxvt*internalBorder: 8

URxvt*tabbed.tabbar-fg: 0 
URxvt*tabbed.tabbar-bg: 0

URxvt*tabbed.tab-fg: 14
URxvt*tabbed.tab-bg: 0 
! URxvt*perl-ext-common: ...,tabbed,...

! scroll with output
! URxvt*scrollTtyOutput: true

! scroll to bottom on keypress
! URxvt*scrollTtyKeypress: true

URxvt*font: xft:Terminus:size=9

URxvt*boldFont: xft:Terminus:pixelsize=9,\
		xft:9x15,xft:Kochi Gothic:antialias=false
URxvt*letterSpace: 1
URxvt*lineSpace: -4

URxvt.depth: 32

URxvt*foreground: #FFF
URxvt*background: [100]#121212

!black
URxvt*color0: #121212
URxvt*color8: #121212

!red
URxvt*color1: #8F394B
URxvt*color9: #8F394B

!green
URxvt*color2: #426F42
URxvt*color10: #426F42

!yellow
URxvt*color3: #F26247
URxvt*color11: #F26247

!blue
URxvt*color4: #688FE8
URxvt*color12: #688FE8

!magenta
URxvt*color5: #7F528F
URxvt*color13: #7F528F

!cyan
URxvt*color6: #809E9D
URxvt*color14: #809E9D
