! Xresources file

URxvt*scrollBar: false

URxvt.internalBorder: 4

! scroll with output
! URxvt*scrollTtyOutput: true

! scroll to bottom on keypress
! URxvt*scrollTtyKeypress: true

URxvt*font: xft:Meslo LG S:pixelsize=11.5
URxvt*boldFont: xft:Meslo LG S:pixelsize=11.5
URxvt*letterSpace: -2
URxvt*lineSpace: -4

URxvt.depth: 32

URxvt*foreground: #ffffff
URxvt*background: [100]#121212

!black
URxvt*color0: #121212
URxvt*color8: #121212

!red
URxvt*color1: #D81860
URxvt*color9: #D81860

!green
URxvt*color2: #426F42
URxvt*color10: #426F42

!yellow
URxvt*color3: #F26247
URxvt*color11: #4d4d4d

!blue
URxvt*color4: #3F809C
URxvt*color12: #3F809C

!magenta
URxvt*color5: #B7416E
URxvt*color13: #BB4466

!cyan
URxvt*color6: #d81860
URxvt*color14: #d81860
