body {
	background-color: #1c1c1c;
}

#search {
	display:inline-block;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

#form {
	background: #fff;
	color: #000;
	border: solid 4px #2B536D;
	height: 35px;
	min-width: 40%; max-width: 40%;

}

#formbutton {
	color: #C4C4C4;
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	background: #2B536D;
	border: solid 0px black !important;
}

#formbutton:hover, a:hover {
	background: #477DA1;
	color: #fff;
	transition-property: background-color, color;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease, ease, ease, ease;
	transition-delay: 0s, 0s, 0s, 0s;
}


#main {
	text-align: center;
	width: 100%;
	margin-top: 50px;

}

a {
	font-family: Open Sans;
	color: #C4C4C4;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	background-color: #2B536D;
	border:solid black 0px;
	margin: 20px;
	min-width: 90px !important; min-height: 90px !important;
	max-width: 90px !important; max-height: 90px !important;
	padding: 10px;
	float: center;
	line-height: 80px;
	display: inline-block;
	
}


