! Xresources file

! URxvt*.transparent: true
! URxvt.shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*.shading: 25

! scrollbar style - rxvt (default), plain (compact), next, xterm
URxvt.scrollstyle: xterm
URxvt.scrollBar: false

URxvt.internalBorder: 15

! scroll with output
! URxvt*scrollTtyOutput: true

! scroll to bottom on keypress
! URxvt*scrollTtyKeypress: true

URxvt*font: xft:Meslo LG M:size=9
URxvt*boldFont: xft:Meslo LG M:size=9
URxvt.letterSpace: -1.5


URxvt*foreground: #FFFFFF
URxvt*background: #222324

!black
URxvt*color0: #000000
URxvt*color8: #4d4d4d

!red
URxvt*color1: #D81860
URxvt*color9: #D81860

!green
URxvt*color2: #426F42
URxvt*color10: #426F42

!yellow
URxvt*color3: #4d4d4d
URxvt*color11: #4d4d4d

!blue
URxvt*color4: #3F809C
URxvt*color12: #3F809C

!magenta
URxvt*color5: #B7416E
URxvt*color13: #BB4466

!cyan
URxvt*color6: #404D52
URxvt*color14: #404D52

!white
URxvt*color7: #FFFFFF
URxvt*color15: #FFFFFF
