! Xresources file

! URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*shading: 25

! scrollbar style - rxvt (default), plain (compact), next, xterm
URxvt*scrollstyle: xterm
URxvt*scrollBar: false

URxvt.internalBorder: 10

! scroll with output
! URxvt*scrollTtyOutput: true

! scroll to bottom on keypress
! URxvt*scrollTtyKeypress: true

URxvt*font: xft:Meslo LG M:size=9
URxvt*boldFont: xft:Meslo LG M:size=9
URxvt*letterSpace: -2
URxvt*lineSpace: -4

URxvt*foreground: #FFFFFF
URxvt*background: #1c1c1c

!black
URxvt*color0: #1c1c1c
URxvt*color8: #1c1c1c

!red
URxvt*color1: #D81860
URxvt*color9: #D81860

!green
URxvt*color2: #426F42
URxvt*color10: #426F42

!yellow
URxvt*color3: #F26247
URxvt*color11: #4d4d4d

!blue
URxvt*color4: #3F809C
URxvt*color12: #3F809C

!magenta
URxvt*color5: #B7416E
URxvt*color13: #BB4466

!cyan
URxvt*color6: #d81860
URxvt*color14: #d81860
